# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
*.db
*.sqlite3

# Flask configuration
instance/

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# IDE specific
*.idea/
.vscode/

# Other
*.pid
*.pot
*.pyc
db.sqlite3
*.log
*.egg-info/
dist/
build/
*.egg