@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-Ukraine-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-Ukraine-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-Ukraine-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-Ukraine-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-Ukraine-Thin.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("../fonts/e-Ukraine-UltraLight.otf");
  font-weight: 100;
  font-style: normal;
}

/* Use the e-Ukraine font as the default font for the entire website */
body {
  font-family: "e-Ukraine", sans-serif !important;
}
